@{
    ViewData["Title"] = "Главная Страница";
}

<h2 class="text-white text-center">Список изменений:</h2><br/>
<div class="box">
    <h4 class="text-white">Версия 1.0.0</h4>
    <ol>
        <li class="text-white">Первая версия этого сайта</li>
        <li class="text-white">Добавлена очередь заданий</li>
        <li class="text-white">Добавлена поддержка SkySmart</li>
        <li class="text-white">Добавлена поддержка Skills4u</li>
    </ol>
</div>