@{
    ViewData["Title"] = "Изменения";
}

<h2 class="text-white text-center">Список изменений:</h2><br/>

<div class="box">
    <h4 class="text-white">Версия 1.2.0</h4>
    <ol>
        <li class="text-white">Добавлена поддержка TestEdu</li>
        <li class="text-white">Другие мелкие изменения</li>
    </ol>
</div>

<div class="box">
    <h4 class="text-white">Версия 1.1.0</h4>
    <ol>
        <li class="text-white">Добавлено ограничение для запросов на /API/LinkRedirect (1 запрос в 10 секунд)</li>
        <li class="text-white">Исправлена кодировка и текст в некоторых заданиях</li>
        <li class="text-white">Добавлен экран загрузки на всех страниц с ответами</li>
        <li class="text-white">Добавлена поддержка ссылок "task" на SkySmart</li>
        <li class="text-white">Добавлено удаление рекламы Somee</li>
        <li class="text-white">Исправлены баги с KaTeX и MathJax</li>
        <li class="text-white">Добавлена поддержка Saharina</li>
        <li class="text-white">Другие мелкие изменения</li>
    </ol>
</div>

<div class="box">
    <h4 class="text-white">Версия 1.0.0</h4>
    <ol>
        <li class="text-white">Первая версия этого сайта</li>
        <li class="text-white">Добавлена очередь заданий</li>
        <li class="text-white">Добавлена поддержка SkySmart</li>
        <li class="text-white">Добавлена поддержка Skills4u</li>
    </ol>
</div>