@{
    ViewData["Title"] = "Изменения";
}

<h2 class="text-white text-center">Список изменений:</h2><br/>

<div class="box">
    <h4 class="text-white">Версия 1.3.1 (15 сентября 2022)</h4>
    <ol>
        <li class="text-white">Пофиксил решение задач на Skills4u</li>
    </ol>
</div>

<div class="box">
    <h4 class="text-white">Версия 1.3.0 (4 марта 2022)</h4>
    <ol>
        <li class="text-white">Пофиксил задания с перетаскиваем текста на SkySmart</li>
        <li class="text-white">Добавили новый тип задания на SkySmart</li>
        <li class="text-white">Добавили картинки и видео в задания</li>
        <li class="text-white">Добавили анимацию для поиска</li>
        <li class="text-white">Закрыли доступ к GitHub</li>
        <li class="text-white">Другие мелкие изменения</li>
    </ol>
</div>

<div class="box">
    <h4 class="text-white">Версия 1.2.3 (1 марта 2022)</h4>
    <ol>
        <li class="text-white">Пофиксил математику в заданиях с перетаскиванием</li>
    </ol>
</div>

<div class="box">
    <h4 class="text-white">Версия 1.2.2 (1 марта 2022)</h4>
    <ol>
        <li class="text-white">Embed в дискорде</li>
    </ol>
</div>

<div class="box">
    <h4 class="text-white">Версия 1.2.1 (1 марта 2022)</h4>
    <ol>
        <li class="text-white">Изменили дизайн заданий c перетаскиванием на SkySmart</li>
        <li class="text-white">Перенесли верхние кнопки в меню на телефонах</li>
        <li class="text-white">Сделали поле с ссылкой длиннее на телефонах</li>
        <li class="text-white">Меняем шрифт на 14 размер на телефонах</li>
        <li class="text-white">Добавили новый тип задания на SkySmart</li>
    </ol>
</div>

<div class="box">
    <h4 class="text-white">Версия 1.2.0 (1 марта 2022)</h4>
    <ol>
        <li class="text-white">Добавлена поддержка TestEdu</li>
        <li class="text-white">Другие мелкие изменения</li>
    </ol>
</div>

<div class="box">
    <h4 class="text-white">Версия 1.1.0 (28 февраля 2022)</h4>
    <ol>
        <li class="text-white">Добавлено ограничение для запросов на /API/LinkRedirect (1 запрос в 10 секунд)</li>
        <li class="text-white">Исправлена кодировка и текст в некоторых заданиях</li>
        <li class="text-white">Добавлен экран загрузки на всех страниц с ответами</li>
        <li class="text-white">Добавлена поддержка ссылок "task" на SkySmart</li>
        <li class="text-white">Добавлено удаление рекламы Somee</li>
        <li class="text-white">Исправлены баги с KaTeX и MathJax</li>
        <li class="text-white">Добавлена поддержка Saharina</li>
        <li class="text-white">Другие мелкие изменения</li>
    </ol>
</div>

<div class="box">
    <h4 class="text-white">Версия 1.0.0 (27 февраля 2022)</h4>
    <ol>
        <li class="text-white">Первая версия этого сайта</li>
        <li class="text-white">Добавлена очередь заданий</li>
        <li class="text-white">Добавлена поддержка SkySmart</li>
        <li class="text-white">Добавлена поддержка Skills4u</li>
    </ol>
</div>